@import url(https://fonts.googleapis.com/css?family=Maven+Pro:400,700);

BODY {
    color:#212121;
    font: 400 16px 'Maven Pro',sans-serif;
    line-height: 1.4em;
    background: #eee;
    counter-reset: lvlfirst;
}

/*
 * Offset anchors so they're not hidden behind the header
 */
H1 > A.anchor,
H2 > A.anchor,
H3 > A.anchor,
H4 > A.anchor {
  position: relative;
  top: -100px;
}

/*********************
 * Collapsible menus *
 *********************/

#main.developerDocsPage .halfMenu {
  display:inline-block;
  vertical-align:top;
  width:210px;
  background-color:#234159;
  font-size:0.875em;
}
#main.developerDocsPage .halfMenu .developerDocsMenuModule UL {
  padding: 0;
}
#main.developerDocsPage .halfMenu .developerDocsMenuModule > UL > LI {
  border-bottom: 1px solid #2E4E6B;
  padding: 12px 0;
}
#main.developerDocsPage .halfMenu .developerDocsMenuModule > UL > LI:last-child {
  border-bottom:none;
}
#main.developerDocsPage .halfMenu .developerDocsMenuModule > UL > LI > UL:last-child {
  margin-bottom: 0;
}

#main.developerDocsPage .halfContentWrap {
  display:block;
  vertical-align:top;
  width:780px;
  padding-left:30px;
  padding-right:10px;
  overflow: hidden; /* create BFC */
}
#main.developerDocsPage .halfContentWrap .widthColumn {
  width:auto;
}
#main.developerDocsPage .halfMenuBtn {
  width:30px;
  position:fixed;
  left:10px;
  margin-top:0.7em;
}

#main.developerDocsPage .developerDocMenuButton {
  width: 30px;
  height: 30px;
  border: 1px solid #A3A2A2;
  border-radius: 4px;
  cursor: pointer;
  /* BEGIN #gradient > .vertical(#FFF, #D0D9E0);*/
  background-color: #ecf0f3;
  background-image: -moz-linear-gradient(top, #ffffff, #d0d9e0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#d0d9e0));
  background-image: -webkit-linear-gradient(top, #ffffff, #d0d9e0);
  background-image: -o-linear-gradient(top, #ffffff, #d0d9e0);
  background-image: linear-gradient(to bottom, #ffffff, #d0d9e0);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffd0d9e0', GradientType=0);
  /* END #gradient > .vertical(#FFF, #D0D9E0); */
}

.arrow_opened,
.arrow_closed {
  width: 9px;
  height: 9px;
  background-repeat: no-repeat;
  display: inline-block
}
.arrow_opened { background-image: url('/docs/img/icons/arrow_opened.png'); }
.arrow_closed { background-image: url('/docs/img/icons/arrow_closed.png'); }

@media screen and (max-width: 1000px) {
  #main.developerDocsPage .halfMenu {
    display:none;
  }

  #main.developerDocsPage .halfMenu.opened {
    display:block;
    position:fixed;
    z-index:5;
    bottom:0;
    left:50px;
    right:0;
    width:auto;
    padding-top:0;
    margin-top:0;
    margin-right:0;
    background-color:#234159;
    overflow-x:auto;
  }

  #main.developerDocsPage .halfContentWrap {
    width:100%;
    padding-left:0;
    padding-right:0;
  }
  #main.developerDocsPage .halfContent {
    padding-left:50px;
    padding-right:0;
  }
}


@media screen and (min-width:1001px) {
  #main.developerDocsPage .halfMenuBtn {
    display:none;
  }
}


/*
 * Left menu
 */

.developerDocsMenuModule,
.article .tocwrapper .toc {
  font-size:1.2em;
  padding:10px 10px 10px 20px;
  margin:5px;
  color: #7A9BB8;
}

.menuRetractable {
  list-style-type: none;
  margin: 10px 0px;
}
.toc .menuRetractable {
  font-size: 0.9em;
}

.menuRetractable LI {
  margin-left:10px;
  line-height:1.1em;
  padding:2px 0;
}
.toc .menuRetractable LI {
  padding: 0.4em 0;
}

.menuRetractable UL {
  display:none;
}

.menuRetractable UL.opened {
  display:block;
}

.menuRetractable .openable {
  position:relative;
  cursor:pointer;
}
.menuRetractable .openable:hover {
  text-decoration:underline;
}

.menuRetractable .arrow {
  display:inline-block;
  width: .5em;
  margin-left: -1em;
  margin-right: .5em; /* width + margin-right = - margin-left */
}

.menuRetractable A {
  color: #7A9BB8;
  line-height: 1.5em;
}
.toc .menuRetractable A {
  line-height: 1em;
}

.menuRetractable LI.selected > A,
.menuRetractable LI.selected > .openable,
.menuRetractable LI.selected > .openable A {
  font-weight:bold;
  color:#fff;
}


/*******************
 * Designer styles *
 *******************/

#main.developerDocsPage > .widthColumn {
  background-color:#234159;
}
#main.developerDocsPage .developerDocsMenuSection {
  border-width:0;
  background-color:inherit;
}
#main.developerDocsPage .halfContentWrap {
  min-height:1000px; /* hmmm */
}

#main.developerDocsPage A[target=_blank]:after {
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content:" \f08e";
  font-size: 0.6em;
  vertical-align: super;
}

/*******************
 * full-width page *
 *******************/
@media screen and (min-width:1001px) {
  #main.developerDocsPage > .widthColumn {
    width:auto;
    padding-left:200px;
    position:relative;
    /* limiting the width of the doc page */
  }
  #main.developerDocsPage .halfMenu {
    position:absolute;
    left:0;
    height:100%;
    margin-top: -64px; /* header size */
    padding-top: 64px; /* header size */
  }
  #main.developerDocsPage .halfContentWrap {
    width:auto;
    max-width:900px;
    margin-left:200px;
  }
}


/***********
 * Article *
 ***********/


/*
 * Icons
 */

#main.developerDocsPage .header .page-badge {
  float: left;
  margin-right: .5em;
  width: 5em;
  height: 5em;
  background-size: 5em;
  background-image: url('/docs/img/badge_wonderpush.png');
  background-repeat: no-repeat;
}
#main.developerDocsPage.guide-push-notifications .header .page-badge {background-image:url('/docs/img/badge_notification.png');}
#main.developerDocsPage.windowsphone             .header .page-badge {background-image:url('/docs/img/badge_windowsphone.png');}
#main.developerDocsPage.android                  .header .page-badge {background-image:url('/docs/img/badge_android.png');}
#main.developerDocsPage.ios                      .header .page-badge {background-image:url('/docs/img/badge_ios.png');}
#main.developerDocsPage.web                      .header .page-badge {background-image:url('/docs/img/badge_web.png');}


.article {
  padding-right: 1em;
}

.article > .header {
  min-height: 5.5em;
}

.article > .content > .preamble .title {
  font-size: 2em;
  font-weight: normal;
  line-height: normal;
  margin-bottom: 0.5em;
}

/*
 * Headers
 */

.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
  /* revert change from bootstrap/type.less */
  line-height:normal;
  margin-top: 20px;
  margin-bottom:.25em;
}
.article h1 { font-size:1.66em; font-weight:normal; }
.article h2 { font-size:1.66em; font-weight:normal; }
.article h3 { font-size:1.25em; }
.article h4 { font-size:1.1em; }
.article h5 { font-size:1.0em; }
.article h6 { font-size:0.9em; }
.article h2 {
  text-transform: uppercase;
}
.article h2 {
  margin-top: 20px;
  margin-bottom: .75em;
}
.article h3 {
  border-bottom: 1px solid #ccc;
  line-height:2.2em;
  margin-top: 1em;
  margin-bottom: .75em;
}

.article > .header h1 {
  color: #333333;
  margin-top: -.2em;
}

.article > .header .breadcrumb {
  font-size: 1em;
  padding-top: 0.5em;
  color: #888;
}
.article > .header .breadcrumb A,
.article > .header .breadcrumb A:visited,
.article > .header .breadcrumb A:hover {
  color: inherit;
}

.sect1.numbered-lvlfirst > h2:before {
    counter-increment: lvlfirst;
    content: counter(lvlfirst);
    display: inline-block;
    width: 26px;
    height: 26px;
    position: relative;
    top: -4px;
    margin-right: 0.6em;
    border-radius: 50%;
    font-size: 0.7em;
    line-height: 24px;
    font-weight: 400;
    color: white;
    text-align: center;
    background-color: #4784b7;
}


/*
 * Table of Contents
 */

.article .tocwrapper {
  position: relative;
  right: -1em;
  background-color: #E8E8E8;
  clear: left;
  float: right;
  width: 31%;
  border-left: 5px solid #e8e8e8;
  box-shadow: 0px 0px 2px 0px #c5cad8, 0 3px 3px 0px #d4d8e3;
  margin-left: 20px;
}
.article .tocwrapper .toc {
  border-left: 4px solid #2196f3;
  padding: 5px 0px 0px 15px;
  margin-left:0px;
}
.article .tocwrapper .toc .toctitle {
  color: #666;
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: bolder;
}
.article .tocwrapper .toc UL {
  padding: 0;
  margin: 0;
}

@media screen and (max-height: 639px), screen and (max-width: 639px) {
  .article .tocwrapper {
    position: static;
    right: 0;
    margin-left: 0;
    margin-top: 2em;
    float: none;
    width: auto;
  }
}

/*
 * Footer
 */

.article > .footer {
  line-height:normal;
  margin-top:3em;
  margin-bottom:1em;
}
.article > .footer .footer-text,
.article > .footer .footer-license {
  margin-top:1em;
  font-size:70%;
  color:#666;
}
.article > .footer .footer-license img {
  opacity:.5;
  margin-bottom:.5em;
}
.article > .footer .footer-license:hover img {
  opacity:1;
}


/*
 * Miscellaneous
 */

.article > .content SPAN.monospaced {
  font-family: Cousine,"Liberation Mono",monospace;
  /*font-weight: normal;*/
  font-size:0.9em;
  white-space: pre-wrap;
  padding: 2px 3px 0px;
  background-color: #EFEFEF;
  border: 1px solid #e2e2e2;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.article > .content PRE {
  margin-left:0;
  padding:8px 2px 8px 18px;
  border-style:solid;
  border-color:#0072e4;
  border-width:0 0 0 3px;
  font-size:0.85em;
  line-height:1.6em;
  max-height:33em;/* ~ 21 lines of code */
  overflow:auto;
  background-color: #d9d9d;
  border-radius:0 5px 5px 0;
  -webkit-border-radius:0 5px 5px 0;
}
.article > .content PRE > CODE {
  white-space: pre;
  word-wrap: normal;
}

.article > .content .clear {
  clear: both;
}

.article > .content .colist {
  margin-bottom: .5em;
}
.article > .content .colist > table > tbody > tr > td {
  padding-bottom: .5em;
}
.article > .content .colist > table > tbody > tr > td:first-child {
  padding-right: 1em;
  padding-left: .5em;
}


/*
 * Adminition blocks
 */

.article > .content div.admonitionblock {
  margin-top: 2.0em;
  margin-bottom: 2.0em;
  margin-right: 2.0em;
  color: #606060;
  position: relative;
}
.article > .content div.admonitionblock > .icon {
  position: absolute;
  vertical-align: top;
  width: 48px;
  /*
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: underline;
  color: #527bbd;
  */
}
.article > .content div.admonitionblock > .content {
  margin-left: 48px;
  padding-left: 0.5em;
  border-left: 2px dotted #dddddd;
}

.sect1 {
  clear:left;
  margin-top: 30px;
  margin-bottom: 10px;
  background-color: #fff;
  padding:1px 20px 20px 20px;
  box-shadow: 0 1px 0 #c5cad8, 0 2px 3px #d4d8e3;
}


/*
 * Definition lists
 */

.article > .content dl {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}
.article > .content dt {
  margin-top: 0.5em;
  margin-bottom: 0;
  font-style: normal;
}
.article > .content dd > *:first-child {
  margin-top: 0.1em;
}
.article > .content dd {
  margin-left: 1.5em;
}
.article > .content div.hdlist,
.article > .content div.dlist {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}
.article > .content div.hdlist tr {
  padding-bottom: 15px;
}
.article > .content dt.hdlist1.strong,
.article > .content td.hdlist1.strong {
  font-weight: bold;
}
.article > .content td.hdlist1 {
  vertical-align: top;
  font-style: normal;
  padding-right: 0.8em;
  color: navy;
}
.article > .content td.hdlist2 {
  vertical-align: top;
}
.article > .content div.hdlist.compact tr {
  margin: 0;
  padding-bottom: 0;
}


/*
 * Tables
 */

.article > .content table.tableblock {
  margin-top: 1.0em;
  margin-bottom: 1.5em;
}
.article > .content thead,
.article > .content p.tableblock.header {
  font-weight: bold;
}
.article > .content p.tableblock {
  margin-top: 0;
}
.article > .content table.tableblock {
  border-width: 1px;
  border-spacing: 0px;
  border-style: solid;
  border-color: #ddd;
  border-collapse: collapse;
}
.article > .content th.tableblock,
.article > .content td.tableblock {
  border-width: 1px;
  padding: .5em;
  border-style: solid;
  border-color: #ddd;
}

.article > .content table.tableblock.frame-topbot {
  border-left-style: hidden;
  border-right-style: hidden;
}
.article > .content table.tableblock.frame-sides {
  border-top-style: hidden;
  border-bottom-style: hidden;
}
.article > .content table.tableblock.frame-none {
  border-style: hidden;
}

.article > .content th.tableblock.halign-left,
.article > .content td.tableblock.halign-left {
  text-align: left;
}
.article > .content th.tableblock.halign-center,
.article > .content td.tableblock.halign-center {
  text-align: center;
}
.article > .content th.tableblock.halign-right,
.article > .content td.tableblock.halign-right {
  text-align: right;
}

.article > .content th.tableblock.valign-top,
.article > .content td.tableblock.valign-top {
  vertical-align: top;
}
.article > .content th.tableblock.valign-middle,
.article > .content td.tableblock.valign-middle {
  vertical-align: middle;
}
.article > .content th.tableblock.valign-bottom,
.article > .content td.tableblock.valign-bottom {
  vertical-align: bottom;
}


.article > .content table thead tr {
  background-color: #f0f0f0;
}
.article > .content table tbody tr:nth-child(even) {
  background-color: #fcfcfc;
}
.article > .content table td > p:last-child {
  margin-bottom: 0;
}


/*****************
 * Page specific *
 *****************/

/*
 * Index and Downloads
 */

#main.developerDocsPage.downloads- .article > .header,
#main.developerDocsPage.index-     .article > .header {
  min-height: initial;
  text-align: center;
}
#main.developerDocsPage.index-     .article > .header .page-badge,
#main.developerDocsPage.index-     .article > .header .breadcrumb,
#main.developerDocsPage.downloads- .article > .header .page-badge,
#main.developerDocsPage.downloads- .article > .header .breadcrumb {
  display: none;
}

#main.developerDocsPage.index-     .article > .content .sub-title,
#main.developerDocsPage.downloads- .article > .content .sub-title {
  text-align: center;
  margin-bottom: 3em;
}

#main.developerDocsPage.index-     .article > .content .illustration,
#main.developerDocsPage.downloads- .article > .content .illustration {
  width: 100%;
  height: 14.1em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20.125em;
  background-image: url('/docs/img/index_img.png');
  margin-top: 1em;
}

#main.developerDocsPage.index-     .article > .content .section,
#main.developerDocsPage.downloads- .article > .content .section {
  float: left;
  width: 50%;
  height: 13em;
  min-width: 18em;
}
#main.developerDocsPage.index-     .article > .content .section.centered,
#main.developerDocsPage.downloads- .article > .content .section.centered {
  float: none;
  clear: both;
  margin-left: 25%;
  height: 13em;
  min-width: 18em;
}
@media screen and (max-width:450px) {
  #main.developerDocsPage.index-     .article > .content .section.centered,
  #main.developerDocsPage.downloads- .article > .content .section.centered {
    margin-left: 0;
  }
}
#main.developerDocsPage.index-     .article > .content .section UL,
#main.developerDocsPage.downloads- .article > .content .section UL {
  list-style: none;
}
#main.developerDocsPage.downloads- .article > .content .section .title,
#main.developerDocsPage.index-     .article > .content .section .title {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  line-height: 1.4em;
}
#main.developerDocsPage.downloads- .article > .content .section .icon,
#main.developerDocsPage.index-     .article > .content .section .icon {
  float: left;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 8em;
  width: 8em;
  height: 8em;
  margin-right: 1em;
}
#main.developerDocsPage.index- .article > .content .section .icon-windowsphone { background-image: url('/docs/img/index_windowsphone.png'); }
#main.developerDocsPage.index- .article > .content .section .icon-android      { background-image: url('/docs/img/index_android.png'); }
#main.developerDocsPage.index- .article > .content .section .icon-ios          { background-image: url('/docs/img/index_ios.png'); }
#main.developerDocsPage.index- .article > .content .section .icon-web          { background-image: url('/docs/img/index_web.png'); }
#main.developerDocsPage.index- .article > .content .section .icon-rest-api              { background-image: url('/docs/img/index_rest_api.png'); }
#main.developerDocsPage.index- .article > .content .section .icon-management-api        { background-image: url('/docs/img/index_management_api.png'); }
#main.developerDocsPage.index- .article > .content .section .icon-features              { background-image: url('/docs/img/index_design.png'); }
#main.developerDocsPage.index- .article > .content .section .icon-downloads             { background-image: url('/docs/img/index_download.png'); }
#main.developerDocsPage.index- .article > .content .section .icon-community-and-support { background-image: url('/docs/img/index_community.png'); }
#main.developerDocsPage.index- .article > .content .section .icon-faq                   { background-image: url('/docs/img/index_faq.png'); }
#main.developerDocsPage.index- .article > .content .section .icon-third-party-clients   { background-image: url('/docs/img/index_tools.png'); }
#main.developerDocsPage.downloads- .article > .content .section .icon-windowsphone { background-image: url('/docs/img/index_windowsphone.png'); }
#main.developerDocsPage.downloads- .article > .content .section .icon-android      { background-image: url('/docs/img/index_android.png'); }
#main.developerDocsPage.downloads- .article > .content .section .icon-ios          { background-image: url('/docs/img/index_ios.png'); }
#main.developerDocsPage.downloads- .article > .content .section .icon-web          { background-image: url('/docs/img/index_web.png'); }

#main.developerDocsPage.downloads- .article > .content .section .title,
#main.developerDocsPage.index-     .article > .content .section .title {
  position: relative;
}
#main.developerDocsPage.downloads- .article > .content .section .title .new-textbadge,
#main.developerDocsPage.index-     .article > .content .section .title .new-textbadge {
  position: absolute;
  top: -1ex;
  color: #E44D26;
  text-transform: uppercase;
  font-size: 60%;
}
